# Esensi Editor Config
# =================================================
# https://github.com/esensi/docs/blob/master/style-guide.md

root = true

# All files
[*]
indent_style = space
indent_size = 4